<template>
<div class="box">
    <div class="columns">
    <div class="column">
        {{ m.email + " " }} {{ m.date }}
        <div class="columns">
            <div class="column">{{ m.message }}</div>
        </div>    
    </div>
    </div>
</div>
</template>

<script>

export default {
    name:"NavbarView",
    props: { m:Object },   
};
</script>