<template>
    <nav class="navbar is-link" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="tp1nav"
                v-on:click="showBurger">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="tp1nav" class="navbar-menu has-background-link">
            <div class="navbar-start">

            </div>

            <div class="navbar-end">

            </div>
        </div>
    </nav>
</template>

<script>
import { Store } from "../stores/pinia"

export default {
    name:"NavbarView",
    props: { n:Object },    
    setup() {
      const store = Store();
      return {store};
    },
    methods: {
        showBurger() {
            const burger = document.querySelector(".burger");
            const menu = document.querySelector(".navbar-menu");
            burger.classList.toggle("is-active");
            menu.classList.toggle("is-active");
        },
    },
    
};
</script>