<template>
    <section v-if="this.store.token != null">
      <div class="title has-text-centered	">CHAT</div>
      <div class="box" id="chatbox">
        <div ref="chatspace" class="row columns is-multiline is-mobile chatspace">
          <MessageView v-for="m in messages" v-bind:key="m.timestamp" v-bind:m="m" class="column is-full"/>
          <div id="chatEnd" ref="chatEnd"></div>
        </div>
    </div>
    <div class="box">
        <div class="columns is-multiline has-text-centered">
          <div class="column is-10">
          <div class="field">
        <div class="control">
          <input v-model="message" class="input" type="text" placeholder="La discussion se passe ici...">
        </div>
      </div>
    </div>

      <div class="column is-2">      
        <button @click="addMessage" class="button">ENVOYER</button>
      </div>

      </div>
    </div>
    </section>
    <section v-else>
      <h1 class="title has-text-centered">Veuillez vous connecter</h1>
    </section>
    </template>

<script>
import { getFirestore, collection, getDocs, doc,setDoc, onSnapshot, query } from "firebase/firestore";
import { Store } from "../stores/pinia"
import MessageView from "../components/MessageView.vue";


export default {
  name: "ChatView",
  components: { MessageView },
  setup() {
      const store = Store();
      return { store };
  },
  data() {
      return {
          message:"",
          messages: null,
          ord:null,
          app: null,
          db: null,
          listIdDocs: null,
      };
  },
  methods: {
      async startup() {
          this.app = this.store.app();
          const db = getFirestore(this.store.app());
          this.db = db;
      },
      async getMessages() {
          const list = [];
          const listId = [];
          const col = collection(this.db, "chat");
          const colSnap = await getDocs(col);
          colSnap.forEach((doc) => {
              list.push((doc.data()));
              listId.push(parseInt(doc.id))
          });
          list.sort((m,n) => m.timestamp - n.timestamp)
          this.messages = list;
          this.listIdDocs = listId;
      },
      async addMessage() {
        if (this.message !== "") {
        const uid = this.store.token.uid
        console.log(uid)
        const email = this.store.token.email

        let d = new Date();
        let day=String(d.getDate());
        let month=String(d.getMonth()+1);
        let hour=String(d.getHours());
        let minute=String(d.getMinutes());

        const timestamp= d.getTime()

        if (day.length === 1) {day = "0"+d.getDate()}
        if (month.length === 1) {month = "0"+(d.getMonth()+1)}
        if (hour.length === 1) {hour = "0"+d.getHours()}
        if (minute.length === 1) {minute = "0"+d.getMinutes()}


        const date = day+"/"+month+"/"+d.getFullYear()+" "+hour+":"+minute

        let nombre = Math.max(...this.listIdDocs)
        if (this.listIdDocs.length === 0) { nombre = 0 }


        const document = doc(this.db,"chat",String(nombre + 1).toString());
          setDoc(document,
              {
              ref:String(nombre + 1).toString(),
              uid:uid,
              email:email,
              date:date,
              message:this.message,
              timestamp:timestamp
          })

          .then(()=>{console.log(uid,email,date,this.message);})

          .catch((err) => {console.log(err.message);});} 
      },
      async listener() {
        const q = query(collection(this.db, "chat"))
        onSnapshot(q, (snap) => {
          snap.docChanges().forEach((change) => {
            if (change) {
                this.getMessages();
            }
          });
        });
      },
      async scrollToBottom() {
        const chatbox = this.$refs.chatbox
        if(chatbox) {
          console.log(chatbox.scrollTop)
          chatbox.scrollTop += chatbox.scrollHeight;        
        }
     }
  },
  computed:{
    orderedMessages: function() {
      return this.messages.sort((m,n) => {m.timestamp - n.timestamp})
    }
  },
  mounted() {
    this.startup();
    this.getMessages();
    this.listener();
    setTimeout(5000)
    this.$nextTick(() => {
      this.scrollToBottom();
    });
  }
};
</script>

<style>
.chatspace
{
    overflow-x: scroll;
    height: 400px;
}
</style>
