<template>
<section>
  <div class="title has-text-centered	">LOGIN</div>
  <div class="box">
    <div v-if="messageErreur != null" class="title" style="color: red" role="alert">
      {{ messageErreur }}
    </div>
    <div class="field">
    <label class="label">Email</label>
    <div class="control">
      <input v-model="this.email" class="input" type="email" placeholder="email">
    </div>
  </div>

  <div class="field">
    <label class="label">Password</label>
    <div class="control">
      <input v-model="this.password" class="input" type="password" placeholder="**********">
    </div>
  </div>
  <div>
    <button @click="signIn" class="button mr-1">Login</button>
    <router-link class="is-link" to="/signup"><u>Sign up</u></router-link>
  </div>
  </div>
</section>
</template>

<script>
import { initializeApp } from "firebase/app";
import { getFirestore } from "firebase/firestore";
import { getAuth, signInWithEmailAndPassword} from "firebase/auth";
import { Store } from "../stores/pinia"

export default {
  name: "LoginView",
    setup() {
      const store = Store();
      return {store};
    },
    data() {
        return {
            email:null,
            password:null,
            app:null,
            db:null,
            messageErreur: null,

        };
    },
    methods: {
        async startup() {
            this.app = this.store.app();

            const db = getFirestore(this.store.app());

            this.db = db;
            },
        async signIn() {
            this.messageErreur = null
            const auth = getAuth(this.app);
            signInWithEmailAndPassword(auth, this.email,this.password)
            .then((userCredential) => {
              this.store.token = userCredential.user;
              sessionStorage.setItem("token", userCredential.user);
              this.$router.push("/chat");
            })
            .catch((error) => {
              console.log(error.code)
              if(error.code === "auth/invalid-email"){
                this.messageErreur = "Adresse Email ou mot de passe invalide"
              }
              else if(error.code === "auth/invalid-login-credentials") {
                this.messageErreur = "Mot de passe invalide"
              }
              else{this.messageErreur = "Erreur inconnue"}
            })
        }
    },
    async mounted() {
        this.startup()
    },
    }
</script>

