  <template>
      <section v-if="this.store.token != null">
        <div class="box">
          <h1 class="title is-info">Profil</h1>
          <div v-if="messageErreur != null" class="title" style="color: red" role="alert">
            {{ messageErreur }}
          </div>
          <div class="field">
            <label class="label">UID</label>
            <h3 class="subtitle">{{user.UID}}</h3>
          </div>
          <div class="field">
            <label class="label">Email</label>
            <div class="control">
              <input v-model="this.email" class="input" type="email" v-bind:placeholder="user.email">
            </div>
          </div>
          <div class="field">
            <label class="label">Photo de profil (URL)</label>
            <div class="control">
              <input v-model="this.photoProfil" class="input" type="text" v-bind:placeholder="'http://www.example.com/12345678/photo.png'">
            </div>
          </div>
          <div class="field">
            <label class="label">Nouveau mot de passe</label>
            <div class="control">
              <input v-model="this.password" class="input" type="password" placeholder="**********">
            </div>
          </div>
          <div class="field">
            <label class="label">Confirmation mot de passe</label>
            <div class="control">
              <input v-model="this.confirmedPassword" class="input" type="password" placeholder="**********">
            </div>
          </div>
          <div class="columns">
            <div class="column">
              <button class="button is-success" v-on:click="mettreAjourEmail(this.email)">Mettre à jour (email)</button>
            </div>
            <div class="column">
              <button class="button is-success" v-on:click="mettreAjourMdp(this.password)">Mettre à jour (mdp)</button>
            </div>
            <div class="column">
              <button class="button is-success" v-on:click="ajouterPhotoProfil">Mettre à jour (pfp)</button>
            </div>
            <div class="column">
              <button class="button is-danger" v-on:click="supprimerProfil">Supprimer</button>
            </div>
          </div>
        </div>
      </section>
    <section v-else>
      <h1 class="title has-text-centered">Veuillez vous connecter</h1>
    </section>
      </template>

      <script>
      import {Store} from "@/stores/pinia.js";
      import { getAuth, onAuthStateChanged, deleteUser, updateEmail, updatePassword} from "firebase/auth";

      export default {
        name: "ProfilView",
        setup() {
          const store = Store();
          const auth = getAuth();
          return { store , auth};
        },
        data() {
          return {
            email: null,
            password: null,
            confirmedPassword: null,
            photoProfil: null,
            messageErreur: null,
            user: {},
          }
        },
        async mounted() {
          this.getUser()
        },
        methods: {
          getUser(){
            this.user = {};
            onAuthStateChanged(this.auth, (u) => {
              if (u){
                this.user["UID"] = u.uid
                this.user["email"] = u.email
              } else{console.log("no use signed in")}
            })
            console.log(this.user)
          },
          mettreAjourEmail(email){
            const user = this.auth.currentUser;
            updateEmail(user, email).then(() => {
              alert("Email mis à jour")
            }).catch((error) => {
              this.messageErreur = error.code
              console.log(error)
            });
          },
          mettreAjourMdp(password){
            const user = this.auth.currentUser;

            if(this.password === this.confirmedPassword){
              updatePassword(user, password).then(() => {
                alert("Mot de passe mis à jour")
                this.store.token = null
                sessionStorage.clear()
              }).catch((error) => {
                this.messageErreur = error.code
                console.log(error)
              });
            } else {this.messageErreur = "Vos deux mots de passes ne correspondent pas"}

          },
          ajouterPhotoProfil(){
            getAuth().updateCurrentUser(this.store.token.uid, {
              photoUrl: this.photoProfil
            }).then((user) => {
              alert("Photo mise à jour");
            }).catch((error) => {
                  this.messageErreur = error.code;
                  console.log(error)
                });
          },
          supprimerProfil(){
            const user = this.auth.currentUser;

            deleteUser(user).then(() => {
              alert("Utilisateur supprime")
              sessionStorage.clear()
              this.store.recupererToken()
            }).catch((error) => {
              this.messageErreur = error.code
              console.log(error)
            });
          }
        },
      }
      </script>

