<template>
    <section>
        <div class="title has-text-centered	">SIGNUP</div>

      <div class="box">
        <div v-if="messageErreur != null" class="title" style="color: red" role="alert">
          {{ messageErreur }}
        </div>
        <div class="field">
        <label class="label">Email</label>
        <div class="control">
          <input v-model="email" class="input" type="email" placeholder="email" required>
        </div>
      </div>

      <div class="field">
        <label class="label">Mot de passe</label>
        <div class="control">
          <input v-model="password" class="input" type="password" placeholder="**********" required>
        </div>
      </div>
        <div class="field">
          <label class="label">Confirmation mot de passe</label>
          <div class="control">
            <input v-model="confirmedPassword" class="input" type="password" placeholder="**********">
          </div>

      <button v-on:click="create" class="button">SignUp</button>
      </div>
      </div>
    </section>
    </template>

<script>
import { initializeApp } from "firebase/app";
import { connectFirestoreEmulator, getFirestore, collection } from "firebase/firestore";
import { getAuth, createUserWithEmailAndPassword } from "firebase/auth";
import { Store } from "../stores/pinia"
import router from "@/router/router.js";

export default {
    name: "SignupView",
    setup() {
      const store = Store();
      return {store};
    },
    data() {
        return {
            email:null,
            password:null,
            confirmedPassword: null,
            app:null,
            db:null,
            messageErreur: null,

        };
    },
    methods: {
        async startup() {
            this.app = this.store.app();

            const db = getFirestore(this.store.app());

            this.db = db;
        },
        async create() {
            const auth = getAuth(this.app);
            if (this.email !== null && this.email !== "" && this.password !== null && this.password !== "") {
              if (this.password === this.confirmedPassword) {
                createUserWithEmailAndPassword(auth, this.email, this.password)
                    .then((userCredential) => {
                      console.log(userCredential)
                      this.$router.push("/");
                    })
                    .catch((error) => {
                      console.log(error)
                      this.messageErreur = error.code
                    })
              } else {
                this.messageErreur = "Les deux mots de passes ne correspondent pas"
              }
            } else {this.messageErreur = "L'email et le mot de passe sont obligatoire"}
        },
    },
    async mounted() {
        this.startup()
    },
    }
</script>
