<template>
  <header>
    <nav v-if="store.token != null" class="navbar is-info is-light">
      <nav class="navbar-brand">
        <router-link class="navbar-item" to="/chat">TP1</router-link>
      </nav>
      <nav class="navbar-start">
        <nav class="navbar-item">
          <p class="subtitle" style="color: white">Bienvenue {{this.store.token.email}}</p>
        </nav>
      </nav>
      <div class="navbar-end">
        <div class="navbar-item" >
          <router-link to="/profil" style="color: white">Profil</router-link>
        </div>
        <div class="navbar-item" >
          <router-link to="/chat" style="color: white"
                       v-on:click="signOut">
            Logout</router-link>
        </div>
      </div>
    </nav>
  <nav v-else class="navbar is-info is-light">
    <nav class="navbar-brand">
      <router-link class="navbar-item" to="/chat">TP1</router-link>
    </nav>
    <div class="navbar-end">
      <div class="navbar-item">
        <router-link to="/profil" style="color: white">Profil</router-link>
      </div>
      <div class="navbar-item">
        <router-link to="/" style="color: white">Login</router-link>
      </div>
    </div>
  </nav>
  </header>
  <div class="container">
    <router-view/>
  </div>
</template>

<script>
//Cédric Charles et Adrien Dolci
import { RouterView, RouterLink } from  'vue-router';
import {Store} from "@/stores/pinia.js";
import {getAuth, signOut} from "firebase/auth";
import NavbarView from "@/components/NavbarView.vue";

export default {
  name: "App",
  components: {NavbarView},
  setup() {
    const store = Store();
    return {store};
  },
  mounted() {
    this.app = this.store.app();
  },
  methods: {
    async signOut(){
      const auth = await getAuth();
      signOut(auth).then(() => {
        this.store.token = null
        sessionStorage.clear()
      }).catch((error) => {
        alert("une erreur est survenue")
        console.log(error)
      })


    }
  }
}
</script>

